.avam-menu-panel{
	position: relative;
	background-color: #333;
	color: #ccc;
	padding-left: 0;
}
.avam-menu-panel-horizontal{
	width: 100%;
	/*padding-bottom: 5px;
	padding-top: 5px;*/
	vertical-align: middle;
	line-height: 1.5em;
	/*height:40px;*/
}
.avam-menu-panel-vertical{
	width: 200px;
	min-height: 100vh;
	padding-top: 30px;	
}

.avam-menu-panel .btn:hover{
	color: #ccc;
}
.avam-menu-panel ul{
	padding-left: 0;
	margin-bottom: 0;
}
.avam-menu {
	list-style-type: none;
	vertical-align: top;
}
.avam-menu ul{
	display: inline;
	list-style-type: none;
	padding-left: 0;
}
.avam-menu li {
	line-height: 3em;
	cursor: pointer;
}
.avam-selectable-item{
	
}
.avam-group-menu{
	
}
.avam-menu-item-horizontal{
	display: inline-block;
	/*padding-top: 5px;
	padding-bottom: 5px;*/
	padding-right: 5px;
	/*width:180px !important;*/
	/*margin-left: 20px;
    margin-top: 5px;*/
	/*line-height: 1em !important;*/
}

.avam-selectable-item:hover{
	background-color: #555;
	color:#fff;
}
.avam-noselect{
	-webkit-touch-callout:none;
	-webkit-user-select: none;
	-moz-user-select : none;
	-ms-user-select: none;
	user-select: none;
}
.avam-menu-icon{
	margin-right: 10px;
}
.avam-menu li div{
	display: inline-block;
	width:90%;
	padding-left: 16px;
}
.avam-menu-item-horizontal div{
	width:100% !important;
}
.avam-menu-active-indicator{
	float: right;
	color: #ddd;
	margin-right: 0;
	margin-top: 12px;
}
.avam-menu-group-indicator{
	float: right;
	color: #ddd;
	margin-right: 2px;
	margin-top: 15px;
}
.avam-sub-menu{
	padding-left: 15px;
}
.avam-layout-btn{
	margin: 5px;
	width: 30px;
	height: 30px;
	background-color: #333;
	border-radius: 15px;
	color:#bbb;
	border: 2px solid #999;
	padding: 5px;
	text-decoration: none !important;
}
.avam-layout-btn:hover{
	background-color: #555;
	color:#fff;
}
.avam-layout-btn-horizontal{
	position: absolute;
    right: 10px;
}
.avam-drop-down-menu{
	position: absolute;
	z-index: 1000;
    background-color: #333;
    width: 200px;
    padding-left: 0;
}
.avam-fade-in-animation {
    -moz-transition: linear all 0.5s;
    -o-transition: linear all 0.5s;
    -webkit-transition: linear all 0.5s;
    transition: linear all 0.5s;
}
.avam-fade-in-animation.ng-hide {
    opacity: 0;
}